@use "../abstracts";

.Header {
  max-width: 60rem;
  padding: 3rem;
  margin: 0 auto;
  color: abstracts.$clr-white;

  display: flex;
  align-items: baseline;

  &_title {
    margin-right: auto;
    font-weight: 700;
    letter-spacing: 0.8rem;
    font-size: 2.4rem;
  }

  &_themeToggle {
    cursor: pointer;
  }
}
